/* MAIN */

* {
  background-color: #333;
  color: #FFF;
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 64vh;
}

@media (max-aspect-ratio: 0.64) {
  .app {
    width: 100vw;
  }
}

.main_container {
  flex: 1;
  overflow-y: auto;
  height: 100vh;
}

.menu_container {
  display: flex;
  justify-content: center;
  height: 5vh;
  padding: 1vh;
}

.text_display {
  font-size: 2.5vh;
  margin: 0 1vh;
  text-align: center;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7vh;
  flex-wrap: wrap;
}

.button,
.highlighted_button {
  border-color: #BBB;
  border-radius: 1vh;
  padding: 0.9vh 1.4vh;
  margin: 0.3vh;
  font-size: 2vh;
  cursor: pointer;
}

.highlighted_button {
  background-color: #777;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 1vh;
}

::-webkit-scrollbar-thumb {
  background: #CCC;
  border-radius: 1vh;
}

::-webkit-scrollbar-track {
  background: #888;
  border-radius: 2vh;
}

/* BLABLA */

.text_input {
  border: 2px solid #BBB;
  border-radius: 1vh;
  padding: 0.9vh 1.4vh;
  margin: 0.3vh;
  font-size: 2.2vh;
}

.leaderboard {
  border: 2px solid #BBB;
  border-radius: 2vh;
  padding: 1vh;
  margin: 3vh auto;
  font-size: 2.2vh;
  overflow-y: auto;
  max-height: 50vh;
  max-width: 50vw;
}

.notification {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px 20px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.notification.show {
  opacity: 1;
}

.notification.fade-out {
  opacity: 0;
}