/* frontend/App.css */

/* MAIN */

* {
  background-color: #333;
  color: #FFF;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000,  1px 1px 0 #000,
                0px  1px 0 #000, 1px  0px 0 #000,  0px -1px 0 #000, -1px 0px 0 #000;
  font-family: 'Calibri', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 64vh;
}

@media (max-aspect-ratio: 0.64) {
  .app {
    width: 100vw;
  }
}

.main_container {
  display: flex;
  flex: 1 1;
  overflow-y: auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.header_container {
  display: flex;
  justify-content: center;
  height: 6vh;
  padding: 1vh;
}

.footer_container {
  padding-bottom: 1.5vh;
}

.text_display {
  font-size: 2.5vh;
  margin: 0 1vh;
  text-align: center;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7vh;
  flex-wrap: wrap;
  background-color: transparent;
}

.button,
.highlighted_button {
  border-color: #BBB;
  border-radius: 1vh;
  padding: 0.9vh 1.4vh;
  margin: 0.3vh;
  font-size: 2vh;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.4;
}

.highlighted_button {
  background-color: #777;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 1vh;
  height: 1vh;
}

::-webkit-scrollbar-thumb {
  background: #BBB;
  border-radius: 1vh;
}

/* NOTIF */

.close_btn {
  background: none;
  border: none;
  font-size: 16px;
  position: absolute;
  top: -2px;
  right: -2px;
  cursor: pointer;
  color: red;
}

.notif {
  position: fixed;
  top: 10px;
  right: 10px;
  max-width: 15vh;
  border: 2px solid #BBB;
  border-radius: 1vh;
  padding: 0.9vh 1.4vh;
  background: rgba(50, 50, 50, 0.7);
  font-size: 2.2vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.notif.visible {
  opacity: 1;
}

/* TABLE */

.table_menu_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.table_container {
  overflow-y: auto;
  margin: 1vh;
  max-width: 95vw;
  border: 2px solid #BBB;
  border-radius: 7px;
}

table {
  width: 100%;
  background-color: #AAA;
  border-spacing: 1px 0px;
  font-size: 2vh;
}

th,
td {
  background-color: #333;
  padding: 0.3vh 0.6vh 0.3vh 0.8vh;
}

td img {
  display: block;
}

/* td button {
  display: block;
} */

th {
  top: 0;
  text-align: center;
  background-color: #333;
  cursor: pointer;
  position: sticky;
}

tr:nth-child(even) td {
  background-color: #333;
}

tr:nth-child(odd) td {
  background-color: #444;
}

.leaderboard_table {
  text-align: right;
}

.leaderboard_table td:nth-child(6) {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20vh;
}

.rooms_table th,
.rooms_table td {
  padding: 8px;
  text-align: center;
}

.rooms_table td:nth-child(4) {
  white-space: nowrap;
  overflow: hidden;
  max-width: 17vh;
}

.rounds_table {
  text-align: center;
}

.player_table td{
  text-align: right;
}

/* STUFF */

.player_list {
  background-color: transparent;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.player_list li {
  background-color: transparent;
  text-align: left;
}

.share_url_container {
  margin-top: 20px;
  text-align: center;
}

.share_url_container input {
  width: 80%;
  padding: 8px;
  font-size: 1em;
}

.win {
  color: #0F3;
}

.lose {
  color: #F00;
}

.highlighted_text {
  color: #0FC;
}

.circle_wrapper {
  width: 4.5vh;
  height: 4.5vh;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.circle_wrapper img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.avatar {
  background-color: transparent;
}

.text_input {
  border: 2px solid #BBB;
  border-radius: 1vh;
  padding: 0.7vh 1vh;
  margin: 0.3vh;
  width: 20vh;
  font-size: 2.1vh;
}

/* C4 */

.grid {
  border: 1px solid #000;
}

.row {
  display: flex;
}

.cell {
  width: 5vh;
  height: 5vh;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 4vh;
}

.halo {
  text-shadow: 
    0 0 20px rgba(255, 255, 255, 0.7);
}